* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding:0;
}

div {
	width: 100%;
	height: 100%;
}

.percolation-view-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 100px;
	padding-right: 100px;
}

.field {
	display: inline-block;
	width: 40%;
}

.result {
	text-align: center;
}

.simulation-result {
	height: 50px;
}

.container {
	height: 100vh;
}

.grid-node {
	background-color: black;
	border-width: 1px;
	border-style: dashed;
	display: inline-block;
	-webkit-transition: background-color .1s ease-in-out; /* Safari */
    transition: background-color .1s ease-in-out;
}

.grid-node-open {
	background-color: green;
	display: inline-block;
}

.grid-node-full {
	background-color: yellow;
	display: inline-block;
}

@media (max-width: 728px ) {
	.percolation-view-container {
	
		padding-left: 5px;
		padding-right: 10px;
	}
}