* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
}

div {
	width: 100%;
	height: 100%;
}

.container header {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.percolation-view-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 100px;
	padding-right: 100px;
}

.field {
	display: inline-block;
	width: 40%;
}

input {
	width: 80px;
}

fieldset {
  padding: 1em;
  border-style: none;
  border-bottom: dotted #000000;
}

.result {
	text-align: center;
}

.simulation-result {
	font-weight: bold;
	height: 50px;
}

.container {
	width: 100vw;
	height: 100vh;
}

.grid-node {
	background-color: black;
	border-width: 1px;
	border-style: dashed;
	display: inline-block;
	-webkit-transition: background-color .1s ease-in-out; /* Safari */
    transition: background-color .1s ease-in-out;
}

.grid-node-open {
	background-color: green;
	display: inline-block;
}

.grid-node-full {
	background-color: yellow;
	display: inline-block;
}

@media (max-width: 728px ) {
	.percolation-view-container {
	
		padding-left: 5px;
		padding-right: 10px;
	}
}